#app-container {
  background-color: #C2CCD1;
}
md-content {
  position: absolute;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  min-height: 100%;
}
.see-more-button {
  width: 100%;
  margin: auto;
}
md-select-menu {
  height: 300px;
}